<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Way To Gyumri</title>
</head>
<body>
<a href="http://localhost:5050/users/confirmEmail?code=<%= activationCode %>&email=<%= email %>">
    Verify Email
</a>
 <img src="http://localhost:5050/images/emblema.png" alt="logo">
</body>
</html>